* {
  font-family: "RocknRoll One", sans-serif;
}
body {
  background-image: url("img/background-template-with-chinese-patterns-red/38164.jpg");
  background-color: #aa381e;
  background-position:top center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.header {
  background-color:  #aa381eb8;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid #000;
}
.card{
  border: 3px solid black;
  border-radius: 3%;
}
label:hover{
  cursor: pointer;
}
.header h1 {
  padding: 20px;
  letter-spacing: 5px;
  font-weight: 700;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
#player-column > div >img{
  cursor: pointer;
}
#player-column > div >img:hover{
  border:  5px solid white;
  border-radius: 15%;
  padding: 10px;
  width: 150px;
  margin: -15px 0px;
  background-color: rgba(255, 203, 194, 0.51);
  transition: border 300ms;
}
#game{
  color: rgba(255, 255, 255, 0.891);
}

#score-column{
  font-size: 45px;
}

.pcPlay{
  border:  5px solid white;
  border-radius: 15%;
  margin: -15px 0;
  padding: 10px;
  width: 150px;
  background-color: rgba(255, 203, 194, 0.51);
}
.hidden{
  display: none;
}
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline{
  display: none;
}
audio{
  margin-left: -12%;
  width: 90px;
  height: 20px;
  opacity: 0.8;
}
audio:hover{
  opacity: 0.9;
  width: 150px;
  transition: all 300ms;
}
