* {
  font-family: "RocknRoll One", sans-serif;
}
body {
  background-color: #aa381e;
}
.header {
  background-color:  #aa381e;
  color: #000;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid #000;
}
.header h1 {
  padding: 25px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px rgb(238, 237, 237);
}
#player-column > div >img{
  cursor: pointer;
}
#player-column > div >img:hover{
  border:  5px solid white;
  border-radius: 20%;
  padding: 10px;
  width: 150px;
  margin: -15px 0px;
  background-color: rgba(255, 203, 194, 0.51);
  transition: border 300ms;
}
#score-column{
  font-size: 40px;
}
#result-message{
  display: none;
}
.pcPlay{
  border:  5px solid white;
  border-radius: 20%;
  padding: 10px;
  width: 150px;
  background-color: rgba(255, 203, 194, 0.51);
}
